<div class="relative">
  <%= link_to "New post", new_post_path, class: "absolute rounded-lg p-3 bg-indigo-600 text-white right-3" %>
</div>
<div data-controller="my-posts">
  <div data-my-posts-target="posts">
  </div>
  <input data-my-posts-target="userId" hidden type="text" value="<%= @current_user.id %>">
</div>